/*
font-family: 'Concert One', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Italianno', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
*/


body {
  background-color: #f8f8ff;
  margin: 0;
  padding: 0;
}
/*
select#flowerDesign option[value="flower1"] {
  background-image: url("https://i.imgur.com/Go5xWnn.jpg");
}
select#flowerDesign option[value="flower2"] {
  background-image: url("https://i.imgur.com/rV30eN7.jpg");
}
select#flowerDesign option[value="flower3"] {
  background-image: url("https://i.imgur.com/LwnAG7C.png");
} */
#container {
  max-width: 650px;
  min-width: 400px;
  margin: 0 auto;
  text-align: center;
}

#p5canvas {
  width: 350px;
  margin: 0 auto;
}

p {
  margin: 10px 5px;
  margin: 10 auto;
}

button {
  width: 75px;
  height: 25px;
}

#message {
  width: 90%;
  height: 78%;
  /* min-width: 320px; */
  margin: 5px;
  /* border: 1px solid #888; */
  outline: none;
  resize: none;
  /* overflow: auto; */
}

#message:focus {
  border: 1px solid #e66465;
  outline:none;
}

#submit {
  width: 100px;
  height: 20px;
}

#cardContainer {
  display: flex;
  flex-direction: row;
}

.inputCard {
  width: 150px;
  height: 250px;
  background-color: white;
  border: 1px solid #dadce0;
  border-radius: 8px;
  margin: 10px;
}

label {
  /* make font visible and big */
}

#colorBox {
  display: block;
}

.typeface {
  width: 85%;
  height: 25px;
  background-color: white;
  border: 1px solid #FFC2C2;
  margin: 10px auto;
  font-size: 15px;
  padding: auto;
  cursor: pointer;
}

.selectedType {
  background-color: #FFC2C2;
}

#sansSerif {
  font-family: 'Poppins', sans-serif;
}

#serif {
  font-family: 'Playfair Display', serif;
}

#display {
  font-family: 'Concert One', cursive;
}

#cursive {
  font-family: 'Italianno', cursive;
  font-size: 20px;
}

#handwritten {
  font-family: 'Indie Flower', cursive;
}
